/**
*
* Contents
* 
* 01. General Styles
* 02. Alerts
* 03. Buttons
* 04. Forms
* 05. Header
* 06. Footer
* 07. Sections
* 08. Call to Action
* 09. Menu
* 10. Welcome Slider
* 11. Cooks
* 12. Specialties
* 13. Gallery
* 14. Events
* 15. Recipe
* 16. Contact
* 17. Single Food
* 18. Shop
* 19. Blog
* 20. Widgets
* 
**/


/* ==========================================================================
   01. General Styles
   ========================================================================== */

/* Fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,300,700);

/* Typography
   ========================================================================== */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #5e626b;
}
a {
	color: inherit;
	-webkit-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}
a:hover {
	color: inherit;
	opacity: .75;
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a img {
	-webkit-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}
a img:hover {
	opacity: .9;
}
p {
	margin-bottom: 24px;
}
.lead {
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
	color: #262625;
	margin-bottom: 36px;
}
h1, h2, h3, h4, h5, h6 {
	color: #31353e;
	margin-top: 0;
	font-weight: 400;
}
.section.dark h1, .section.dark h2, .section.dark h3, .section.dark h4, .section.dark h5, .section.dark h6, h1.white, h2.white, h3.white, h4.white, h5.white, h6.white {
	color: #dedede;
}
h1 {
	font-size: 34px;
	line-height: 50px;
	margin-bottom: 55px;
}
h2 {
	font-size: 28px;
	line-height: 40px;
	margin-bottom: 46px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}
h4 {
	font-size: 20px;
	line-height: 21px;
	margin-bottom: 10px;
}
h5 {
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 18px;
	margin-top: 18px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
h6 {
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 26px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	display: block;
	color: inherit;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 22px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 12px;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.highlight {
	color: #b8bac1;
}
blockquote {
	background: #fff;
	border: 1px solid #e4e4e4;
	color: #707070;
	font-size: 14px;
	line-height: 22px;
	padding: 24px 28px;
	margin: 28px 0;
	font-style: normal;
	position: relative;
}
blockquote:before {
	content: '';
	width: 4px;
	height: 100%;
	background: #fdea93;
	position: absolute;
	top: 0;
	left: 0;
}
.aligncenter {
	display: block;
	margin: 24px auto;
}
.alignleft {
	float: left;
	margin-right: 24px;
	margin-bottom: 12px;
}
.alignright {
	float: right;
	margin-left: 24px;
	margin-bottom: 12px;
}
hr {
	border-top: 1px solid #ebebeb;
	margin-top: 48px;
	margin-bottom: 48px;
}
.fa-ul {
	margin-left: 0;
}
.fa-li {
	position: static;
	width: auto;
	margin-right: 10px;
}
.list li {
	line-height: 20px;
	color: #7c808b;
	margin-bottom: 10px;
}
.list .circle {
	border: 1px solid #c6cad3;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
}
.label {
	background: #c88859;
	color: #fff;
	padding: 0 12px;
	font-size: 10px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	line-height: 19px;
	border-radius: 19px;
	display: inline-block;
	margin: 0 6px;
}
.label.green {
	background: #60a978;
}
.aligned-cols {
	display: table;
}
.aligned-cols .col-sm-1, .aligned-cols .col-sm-10, .aligned-cols .col-sm-11, .aligned-cols .col-sm-12, .aligned-cols .col-sm-2, .aligned-cols .col-sm-3, .aligned-cols .col-sm-4, .aligned-cols .col-sm-5, .aligned-cols .col-sm-6, .aligned-cols .col-sm-7, .aligned-cols .col-sm-8, .aligned-cols .col-sm-9 {
	display: table-cell;
	float: none;
}
.aligned-bottom {
	vertical-align: bottom;
}
.aligned-middle {
	vertical-align: middle;
}
.spacer {
	margin-bottom: 36px;
}
.map {
	height: 400px;
	margin-bottom: 170px;
}
.spacer {
	margin-bottom: 64px;
}
.btn-flat{
	border-radius: 0px !important;
	border: 0px !important;
}
@media all and (max-width: 768px) {
	.column-spacer {
		margin-bottom: 36px;
	}
	.aligned-cols {
		display: block;
	}
	.aligned-cols .col-sm-1, .aligned-cols .col-sm-10, .aligned-cols .col-sm-11, .aligned-cols .col-sm-12, .aligned-cols .col-sm-2, .aligned-cols .col-sm-3, .aligned-cols .col-sm-4, .aligned-cols .col-sm-5, .aligned-cols .col-sm-6, .aligned-cols .col-sm-7, .aligned-cols .col-sm-8, .aligned-cols .col-sm-9 {
		display: block;
		width: 100%;
	}
	.map {
		margin-bottom: 48px;
	}
}
.simple-white{
	background-color: rgba(255,255,255,0.2);
}

/* ==========================================================================
   02. Alerts
   ========================================================================== */
.alert {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	border-radius: 0;
	padding: 23px 26px; 
	margin-top: 20px;
	margin-bottom: 0;
}
.alert strong {
	font-weight: 500;
	text-transform: uppercase;
}
.alert .icon {
	margin-right: 26px;
}
.alert-success {
	background: #dff0d8;
	border: 1px solid #dae7d4;
	color: #3c763d;
}
.alert-success .icon {
	color: #6fcb49;
}
.alert-info {
	background: #d9edf7;
	border: 1px solid #d2e3ec;
	color: #31709c;
}
.alert-info .icon {
	color: #4992b7;
}
.alert-warning {
	background: #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
}
.alert-warning .icon {
	color: #e0bf11;
}
.alert-danger {
	background: #f2dede;
	border: 1px solid #ebccd1;
	color: #b84442;
}
.alert-danger .icon {
	color: #ec5252;
}
.form-alert {
	display: none;
}

/* ==========================================================================
   03. Buttons
   ========================================================================== */
.button {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 42px;
	padding: 0 42px;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	position: relative;
	outline: none !important;
	border: 2px solid #7c808b;
	background: none;
	color: #7c808b;
	border-radius: 46px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.button:hover {
	opacity: 1;
	color: #fff;
	background: #7c808b;
}
.button.medium {
	line-height: 36px;
}
.button.small {
	line-height: 30px;
	padding: 0 28px;
}
.button.green {
	border-color: #7aa960;
	color: #7aa960;
}
.button.blue {
	border-color: #53a0c8;
	color: #53a0c8;
}
.button.yellow {
	border-color: #dca233;
	color: #dca233;
}
.button.brown {
	border-color: #c88859;
	color: #c88859;
}
.button.light {
	border-color: #dedede;
	color: #dedede;
}
.button.white {
	border-color: #fff;
	color: #fff;
}
.button.green:hover {
	background: #7aa960;
	color: #fff;
}
.button.blue:hover {
	background: #53a0c8;
	color: #fff;
}
.button.yellow:hover {
	background: #dca233;
	color: #fff;
}
.button.brown:hover {
	background: #c88859;
	color: #fff;
}
.button.light:hover {
	background: #dedede;
	color: #31353e;
}
.button.white:hover {
	background: #fff;
	color: #31353e;
}
.button.solid {
	background: #7c808b;
	color: #fff;
}
.button.solid:hover {
	opacity: .75;
}
.button.solid.green {
	background: #7aa960;
	color: #fff;
}
.button.solid.blue {
	background: #53a0c8;
	color: #fff;
}
.button.solid.yellow {
	background: #dca233;
	color: #fff;
}
.button.solid.brown {
	background: #c88859;
	color: #fff;
}
.button.solid.light {
	background: #dedede;
	color: #31353e;
}
.button.solid.white {
	background: #fff;
	color: #31353e;
}
.button-list {
	margin-bottom: 0;
}
.button-list .button {
	margin-right: 20px;
	margin-bottom: 20px;
}
.button.icon-right, .button.icon-left {
	padding: 0 18px;
}
.button.icon-right i, .button.icon-left i {
	font-size: 14px;
	vertical-align: middle;
}
.button.icon-right i {
	margin-left: 36px;
}
.button.icon-left i {
	margin-right: 36px;
}
.button.double {
	background: none;
	padding: 0;
}
.button.double span {
	padding: 0 24px;
	display: inline-block;
}
.button.double span:first-of-type {
	background: #7c808b;
	color: #fff;
	border-radius: 46px 0 0 46px;
	padding: 0 32px;
	position: relative;
	left: -2px;
	margin-right: -2px;
}
.button.double:hover {
	background: #7c808b;
}
.button.double.green span:first-of-type, .button.double.green:hover {
	background: #7aa960;
}
.button.double.blue span:first-of-type, .button.double.blue:hover {
	background: #53a0c8;
}
.button.double.yellow span:first-of-type, .button.double.yellow:hover {
	background: #dca233;
}
.button.double.brown span:first-of-type, .button.double.brown:hover {
	background: #c88859;
}
.link-button {
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}
.pager {
	margin: 0;
}
.pager li>a {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 42px;
	padding: 0 42px;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	position: relative;
	outline: none !important;
	border: 2px solid #7c808b;
	background: none;
	color: #7c808b;
	border-radius: 46px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.pager li>a:focus, .pager li>a:hover {
	opacity: 1;
	color: #fff;
	background: #7c808b;
}
.pager .page-number {
	line-height: 42px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #7c808b;
}

/* ==========================================================================
   04. Forms
   ========================================================================== */
input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]), select, textarea {
	display: block;
	border: 2px solid #dedede;
	background: none;
	width: 100%;
	padding: 0 28px;
	outline: none !important;
	font-size: 12px;
	line-height: 42px;
	height: 42px;
	font-weight: 700;
	color: #dedede;
	border-radius: 46px;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	font-family: 'PT Sans', sans-serif;
}
input[type=date]:before, input[type=time]:before {
	content: attr(placeholder);
	color: #dedede;
	text-transform: uppercase;
	margin-right: 6px;
}
input[type=date]:focus:before, input[type=time]:focus:before {
	content: none;
}
textarea {
	border-radius: 12px;
	height: auto;
}
::-webkit-input-placeholder {
	color: #dedede;
	text-transform: uppercase;
}
:-moz-placeholder {
	color: #dedede;
	text-transform: uppercase;
}
::-moz-placeholder {
	color: #dedede;
	text-transform: uppercase;
}
:-ms-input-placeholder {  
	color: #dedede;
	text-transform: uppercase;
}
.form-group {
	margin-bottom: 30px;
}

/* ==========================================================================
   05. Header
   ========================================================================== */
.header {
	position: relative;
	z-index: 9;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
	background: #fff;
}
.header.transparent {
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
}
.header .top {
	font-size: 12px;
	line-height: 40px;
	border-bottom: 1px solid #ebebeb;
	text-transform: uppercase;
}
.header.transparent .top {
	border-bottom: 1px solid rgba(235,235,235,.25);
}
.header .top .left {
	float: left;
}
.header .top .right {
	float: right;
	text-align: right;
}
.header .top .item {
	margin-left: 24px;
}
.header .top a {
	color: #31353e;
}
.header.transparent .top a {
	color: #fff;
}
@media all and (max-width: 768px) {
	.header .top .left {
		float: none;
	}
	.header .top .right {
		float: none;
		text-align: left;
	}
	.header .top .item {
		margin-left: 0;
		margin-right: 24px;
	}
}

/* Navigation
   ========================================================================== */
.navigation {
	z-index: 9;
}
.navigation .logo {
	height: 96px;
	float: left;
	font-size: 0;
	text-align: center;
}
.navigation .logo:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.navigation .logo a {
	display: inline-block;
	vertical-align: middle;
	max-height: 96px;
}
.main-nav {
	float: right;
	font-size: 0;
}
.main-nav ul {
	margin-bottom: 0;
}
.main-nav ul>li {
	display: inline-block;
}
.main-nav ul>li a {
	font-size: 12px;
	color: #31353e;
	text-transform: uppercase;
	padding: 0 21px;
	line-height: 95px;
	height: 95px;
	display: inline-block;
	position: relative;
	margin-left:.3em;
}
.header.transparent .main-nav ul>li a {
	color: #fff;
}
.main-nav ul>li a:hover {
	text-decoration: none;
}
.main-nav ul>li ul {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	background: #fff;
	position: absolute;
	top: 140px;
	height: auto;
	padding: 12px 0;
	z-index: 999;
	min-width: 240px;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	margin-left:.3em;
}
.main-nav ul>li ul li {
	white-space: nowrap;
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
}
.main-nav ul>li ul li a {
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.header.transparent .main-nav ul>li ul li a {
	color: #31353e;
}
.main-nav ul>li ul li>ul {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	position: absolute;
	left: 100%;
	top: 20px;
}
.main-nav ul>li ul li:hover>ul {
	top: 0;
}
.main-nav ul>li:hover>ul {
	opacity: 1;
	filter: alpha(opacity=100);
	visibility: visible;
	top: 120px;
}
.responsive-menu-open {
	font-size: 21px;
	color: #353537;
	padding: 0 24px;
	line-height: 96px;
	height: 64px;
	float: right;
	display: none;
}
.header.transparent .responsive-menu-open {
	color: #fff;
}
.responsive-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	min-width: 100%;
	background: #fff;
	z-index: 999;
	padding: 24px;
	overflow-y: scroll;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.responsive-menu.open {
	left: 0;
}
.responsive-menu-close {
	position: absolute;
	top: 24px;
	right: 24px;
	font-size: 48px;
	color: #353537;
}
.responsive-nav ul>li a {
	font-size: 16px;
	color: #353537;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 36px;
}
.responsive-nav ul>li.active>a {
	color: #ff4229;
}
.responsive-menu .navigation-button {
	float: none;
	display: block;
	text-align: center;
	margin-left: 0;
}
.no-scroll {
	overflow: hidden !important;
}
@media all and (max-width: 1200px) {
	.main-nav {
		display: none;
	}
	.responsive-menu-open {
		display: inline-block;
	}
}
@media all and (max-width: 768px) {
	.header .top span, .header .top .links {
		float: none;
	}
	.header .top a {
		margin-left: 0;
		margin-right: 18px;
	}
	.navigation .navigation-button {
		display: none;
	}
	.responsive-menu-open {
		padding-right: 22px;
	}
}

/* Page Title
   ========================================================================== */
.page-title {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #e9e9e9;
}
.page-title .inner {
	padding: 200px 0;
	position: relative;
	z-index: 2;
	background: rgba(49,53,62,.8);
	line-height: 23px;
}
.header.transparent + .page-title .inner {
	padding-top: 337px;
}
.page-title h2 {
	color: #fff;
	margin-bottom: 0;
}
.page-title p {
	margin-bottom: 0;
}
.page-title.part-of-page {
	margin-bottom: 160px;
}
@media all and (max-width: 768px) {
	.page-title .inner {
		padding: 48px 0;
	}
	.page-title h2 {
		margin-bottom: 24px;
	}
}

/* ==========================================================================
   06. Footer
   ========================================================================== */
.footer {
	color: #7c808b;
	background: #fff;
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	padding: 50px 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}
.footer a {
	color: #7c808b;
}
.footer p {
	margin-bottom: 0;
}
.footer b {
	font-weight: 700;
	color: #31353e;
}
.dev-footer{
	padding: 10px 0;
	color: #222;
	margin-top: 5px;
}
@media all and (max-width: 768px) {
	.footer {
		padding: 48px;
	}
}

/* ==========================================================================
   07. Sections
   ========================================================================== */
.section {
	position: relative;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section.parallax {
	background-attachment: fixed;
}
.section>.inner {
	padding: 96px 0;
	background: #fff;
}
.header.transparent + .section>.inner {
	padding-top: 233px;
}
.section.small>.inner {
	padding: 77px 0;
}
.section.large>.inner {
	padding: 260px 0;
}
.section.no-padding>.inner {
	padding: 0;
}
.section.white>.inner {
	background: #fff;
}
.section.dark>.inner {
	background: #131617;
	color: #dedede;
}
.section.dark.transparent>.inner {
	background: rgba(28,31,38,.8);
}
.section .container {
	position: relative;
}
.section.small-section p:last-of-type {
	margin-bottom: 0;
}
.section.border-top {
	border-top: 1px solid #e3e3e3;
}
.partial-background {
	height: 520px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.partial-background.size2 {
	height: 438px;
}
.partial-background:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(28,31,38,.8);
}
@media all and (max-width: 768px) {
	.section>.inner {
		padding: 48px 0;
	}
	.section.large>.inner {
		padding: 96px 0;
	}
	.partial-background.size2 {
		height: 129px;
	}
}

/* ==========================================================================
   08. Call to Action
   ========================================================================== */
.call-to-action {
	font-size: 0;
}
.call-to-action h3 {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	margin-right: 40px;
}
.call-to-action .button {
	vertical-align: middle;
}
@media all and (max-width: 768px) {
	.call-to-action .button {
		margin-top: 24px;
	}
}

/* ==========================================================================
   09. Menu
   ========================================================================== */
.menu {
	margin-bottom: 36px;
}
.menu img {
	float: left;
	border-radius: 100%;
}
.menu .content {
	margin-left: 84px;
}
.menu h5 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 22px;
	text-transform: none;
}
.menu p {
	margin-bottom: 0;
}
.menu .price {
	float: right;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	color: #31353e;
}

/* ==========================================================================
   10. Welcome Slider
   ========================================================================== */
.welcome-slider {
	position: relative;
}
.welcome-slider .slide {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: none;
	-webkit-backface-visibility: hidden;
	margin: 0;
}
.welcome-slider .slide .inner {
	background: rgba(28,31,38,.6);
	padding: 96px 0;
	height: 720px;
	position: relative;
}
.header.transparent + .welcome-slider .slide .inner {
	padding-top: 233px;
}
.welcome-slider .slide .container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.welcome-slider h1, .welcome-slider h2, .welcome-slider h3, .welcome-slider h4, .welcome-slider h5, .welcome-slider h6 {
	color: #ececec;
}
.flex-direction-nav a {
	opacity: 1;
	height: 32px;
	line-height: 28px;
	width: 32px;
	text-align: center;
	background: none;
	margin: 0;
	margin-top: -16px;
	border-radius: 100%;
	border: 2px solid #a0989c;
}
.flex-direction-nav .flex-prev {
	left: 42px;
}
.flex-direction-nav .flex-next {
	right: 42px;
	text-align: center;
}
.flex-direction-nav a:before {
	font-family: FontAwesome;
	content: '\f053';
	text-shadow: none;
	color: #a0989c;
	font-size: 14px;
	display: inline-block;
}
.flex-direction-nav a.flex-next:before {
	content: '\f054';
}
.hours-box {
	background: rgba(54,50,59,.9);
	padding: 38px;
	font-size: 12px;
	line-height: 26px;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	width: 50%;
	text-align: left;
}
.hours-box .day {
	color: #b5b8c1;
	float: left;
}
.hours-box .hours {
	float: right;
}
.hours-box .title {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 38px;
}
.hours-box .title .open {
	float: right;
	color: #80c257;
}
.hours-box .info {
	margin-top: 38px;
}
@media all and (max-width: 768px) {
	.welcome-slider .slide .inner {
		padding: 96px 0;
		height: auto;
	}
	.welcome-slider .slide .container {
		position: static;
		top: 0;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	.hours-box {
		width: 100%;
	}
}

/* ==========================================================================
   11. Cooks
   ========================================================================== */
.cook .image {
	margin-bottom: 24px;
	position: relative;
	overflow: hidden;
}
.cook .image .overlay {
	background: rgba(200,136,89,.92);
	position: absolute;
	bottom: -170px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 62px 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.cook:hover .image .overlay {
	bottom: 0;
}

/* ==========================================================================
   12. Specialties
   ========================================================================== */
.specialty {
	margin-bottom: 72px;
}
.specialty .image {
	margin-bottom: 24px;
	position: relative;
	overflow: hidden;
}
.specialty .image .overlay {
	background: rgba(200,136,89,.92);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	opacity: 0;
}
.specialty:hover .image .overlay {
	opacity: 1;
}
.specialty .image .overlay .button {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.owl-theme .owl-nav {
	margin-top: 0;
}
.owl-theme .owl-nav [class*='owl-'] {
	position: absolute;
	top: -76px;
	color: #6c6b6a;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: none;
	border-radius: 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background: none;
	color: #6c6b6a;
	opacity: .75;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
	left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
	right: 0;
}

/* ==========================================================================
   13. Gallery
   ========================================================================== */
.gallery-sizer {
	width: 16.66%;
}
.gallery .item {
	width: 16.66%;
	float: left;
	position: relative;
}
.gallery .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,165,0,.08);
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	text-align: center;
}
.gallery .overlay:hover {
	background: rgba(49,53,62,1);
}
.gallery .overlay .button {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.gallery .overlay:hover .button {
	opacity: 1;
}
.basic-gallery {
	margin: 24px -15px;
	width: 100%;
}
.basic-gallery img {
	display: inline-block;
	width: 25%;
	height: auto;
	padding: 15px;
}
@media all and (max-width: 768px) {
	.gallery-sizer {
		width: 50%;
	}
	.gallery .item {
		width: 50%;
	}
}

/* ==========================================================================
   14. Events
   ========================================================================== */
.event {
	padding-bottom: 56px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 56px;
	display: table;
}
.event:last-of-type {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}
.event .image-wrapper {
	display: table-cell;
	width: 100px;
	vertical-align: top;
}
.event .image-wrapper img {
	border-radius: 100%;
}
.event .content {
	display: table-cell;
	vertical-align: top;
}
.event .content h5 {
	margin-top: 0;
}
.event .content p {
	margin-bottom: 12px;
}
.event .event-meta {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 0;
	line-height: 22px;
	text-transform: uppercase;
	color: #7c808b;
	margin-bottom: 0;
}
.event .event-meta li {
	font-size: 12px;
	margin-right: 18px;
}
.event .event-meta span {
	color: #31353e;
}
.event .button-wrapper {
	width: 260px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
@media all and (max-width: 768px) {
	.event .image-wrapper {
		display: block;
	}
	.event .content {
		display: block;
		margin: 24px 0;
	}
	.event .button-wrapper {
		display: block;
		width: 100%;
		text-align: left;
	}
}

/* ==========================================================================
   15. Recipe
   ========================================================================== */
.recipe-top {
	color: #7c808b;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 72px;
}
.recipe-top .recipe-count {
	float: left;
}
.recipe-top .recipe-sort {
	float: right;
}
.recipe-top .recipe-sort select {
	display: inline-block;
	border: none;
	width: auto;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: #31353e;
	border-radius: 0;
	text-transform: uppercase;
}
.recipe {
	margin-bottom: 100px;
}
.recipe .image {
	margin-bottom: 24px;
	position: relative;
}
.recipe .image .overlay {
	background: rgba(200,136,89,.92);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	opacity: 0;
}
.recipe:hover .image .overlay {
	opacity: 1;
}
.recipe .image .overlay .button {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.recipe h5 {
	margin-top: 0;
}
.recipe p {
	margin-bottom: 12px;
}
.recipe-details {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #7c808b;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 20px;
}
.recipe-details b {
	color: #31353e;
}
.recipe-author {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	color: #31353e;
}
.recipe-author img {
	border-radius: 100%;
	margin-right: 9px;
}
.recipe-single>img {
	margin-bottom: 68px;
}
.recipe-sidebar-item {
	margin-bottom: 52px;
}
.recipe-sidebar-item h5 {
	margin-top: 0;
}
.directions {
	line-height: 20px;
	margin-top: 64px;
	margin-bottom: 54px;
}
.directions h5 {
	margin-top: 0;
	margin-bottom: 48px;
}
.directions .circle {
	border: 1px solid #c6cad3;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	float: left;
}
.directions .content {
	margin-left: 48px;
}
.directions .content span {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
	text-transform: uppercase;
}
.reviews {
	margin-top: 58px;
}
.reviews h5 {
	margin-top: 0;
	margin-bottom: 54px;
}
.review {
	margin-bottom: 38px;
}
.review img {
	float: left;
	border-radius: 100%;
}
.review .content {
	margin-left: 84px;
}
.review .content .review-title {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
	margin-right: 28px;
	margin-bottom: 12px;
	display: inline-block;
}
.review .content .stars {
	color: #7aa960;
}
.review .content .stars i {
	margin-right: 2px;
}
.review .content a {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
}
.review .content p:last-of-type {
	margin-bottom: 0;
}
@media all and (max-width: 768px) {
	.recipe-sidebar-item {
		margin-bottom: 26px;
		margin-top: 26px;
	}
}

/* ==========================================================================
   16. Contact
   ========================================================================== */
.contact-wrapper {
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}
.contact-wrapper p {
	margin-bottom: 0;
}
.contact-wrapper b {
	color: #fff;
}

/* ==========================================================================
   17. Single Food
   ========================================================================== */
.food-single>img {
	margin-bottom: 68px;
}
.food-single .top h2 {
	float: left;
}
.food-single .top .button {
	float: right;
}
.food-sidebar-item {
	margin-bottom: 30px;
}
@media all and (max-width: 768px) {
	.food-sidebar-item {
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

/* ==========================================================================
   18. Shop
   ========================================================================== */
.shop-top {
	color: #7c808b;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 72px;
}
.shop-top .shop-count {
	float: left;
}
.shop-top .shop-sort {
	float: right;
}
.shop-top .shop-sort select {
	display: inline-block;
	border: none;
	width: auto;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: #31353e;
	border-radius: 0;
	text-transform: uppercase;
}
.product {
	margin-bottom: 90px;
}
.product .image {
	margin-bottom: 24px;
	position: relative;
}
.product .image .overlay {
	background: rgba(200,136,89,.92);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	opacity: 0;
}
.product:hover .image .overlay {
	opacity: 1;
}
.product .image .overlay .button {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.product h5 {
	margin-top: 0;
}
.product h5 .price {
	margin-left: 24px;
}
.product p:last-of-type {
	margin-bottom: 0;
}
/* Cart
   ========================================================================== */
.table {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.table>thead>tr>th {
	border-bottom: none;
	font-size: 12px;
	line-height: 50px;
	color: #5e626b;
	padding: 0;
	padding-bottom: 42px;
}
.table>tbody>tr>td {
	border-top: 1px solid #e8eaed;
	padding: 14px 0;
	font-size: 13px;
	line-height: 22px;
	color: #31353e;
	vertical-align: middle;
}
.table>tbody>tr:first-of-type>td {
	border-top: none;
}
.cart img {
	border-radius: 100px;
	margin-right: 25px;
}
.cart input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
	width: 140px;
	display: inline-block;
	color: #31353e;
	border-color: #7c808b;
	text-align: center;
}
.cart .remove {
	display: inline-block;
	width: 46px;
	line-height: 42px;
	height: 46px;
	border-radius: 100%;
	border: 2px solid #7c808b;
	color: #31353e;
	text-align: center;
}
.cart .remove:hover {
	background: #7c808b;
	color: #fff;
	opacity: 1;
}
.delivery-form {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.delivery-form .form-group:last-of-type {
	margin-bottom: 0;
}
@media all and (max-width: 768px) {
	.table>thead>tr>th {
		padding: 0 14px;
	}
	.table>tbody>tr>td {
		padding: 14px;
	}
}

/* ==========================================================================
   19. Blog
   ========================================================================== */
.blog-post {
	padding-bottom: 52px;
	margin-bottom: 60px;
	border-bottom: 1px solid #e3e3e3;
}
.blog-post:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
.blog-post + nav .pager {
	margin-top: 96px;
}
.blog-post .featured-img {
	margin-bottom: 36px;
}
.blog-post .blog-post-title {
	margin-bottom: 16px;
}
.blog-post-meta {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #31353e;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 28px;
}
.blog-post-meta i {
	color: #bcbcbc;
	margin-right: 8px;
	vertical-align: middle;
	line-height: 22px;
}
.blog-post p:last-of-type {
	margin-bottom: 0;
}
/* Comments
   ========================================================================== */
.comments {
	/*margin-top: 56px;
	padding-top: 56px;
	border-top: 1px solid #e3e3e3;*/
}
.comments>h5 {
	margin-bottom: 56px;
	margin-top: 0;
}
.comment {
	margin-bottom: 38px;
}
.comment .comment {
	margin-top: 38px;
	margin-bottom: 0;
	margin-left: 84px;
}
.comment img {
	float: left;
	border-radius: 100%;
}
.comment .content {
	margin-left: 84px;
}
.comment .content .comment-title {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
	margin-right: 28px;
	margin-bottom: 12px;
	display: inline-block;
}
.comment .content a {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color: #31353e;
}
.comment .content p:last-of-type {
	margin-bottom: 0;
}

/* ==========================================================================
   20. Widgets
   ========================================================================== */
.sidebar-widget {
	margin-bottom: 54px;
}
.sidebar-widget>h6 {
	color: #7c808b;
	margin-top: 0;
	margin-bottom: 30px;
}
/* Sidebar Product
   ========================================================================== */
.sidebar-product {
	margin-bottom: 20px;
}
.sidebar-product img {
	float: left;
}
.sidebar-product .content {
	margin-left: 78px;
}
.sidebar-product .content h5 {
	margin-top: 0;
	margin-bottom: 14px;
}
.sidebar-product .content h5 .price {
	margin-left: 28px;
}
.sidebar-product .content p {
	margin-bottom: 0;
}
/* Tags
   ========================================================================== */
.tags {
	font-size: 0;
}
.tags a {
	color: #dfdede;
	font-size: 12px;
	line-height: 32px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	padding: 0 18px;
	background: #484b52;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
@media all and (max-width: 768px) {
	.sidebar-widget {
		margin-bottom: 27px;
		margin-top: 27px;
	}
}